#title {
  background-color: #f8f9fa;
}

.container-fluid {
  padding: 0;
}

.pad {
  padding: 1% 5%;
}

body{
  background-color: #f8f9fa
}
/* home */

.row{
  padding-right: 0px;
  margin-right: 0px;
}
.empty{

  height: 70px;
  content: "";
  display: block;
}
#Home {
  background-image: url("second/fold/Folding.png");
  background-size: cover;
  background-repeat: no-repeat;
}



.home-content h1 {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #3b6978;
padding:15% 15% 10%;
  text-align: center;
}

.home-content p {
  font-size: 1rem;
  color: #fff;
padding: 0 25%;
  font-weight: 600;
margin: auto;
}

.bon {
  padding: 4% 43%;
}
@media (max-width:480px) {
  .home-content h1{
      font-size: 3rem;
      padding:auto;
      margin: auto;
      text-align:left;
  }


.Pad3 {
  padding: 5% 10% 5% 10%;
}


.pad4{
  padding: 7% 10% 0 10%;
}


/* features */


.feapic{
  border-radius: 5%;
}

.Feature-box2 {
  color: #204051;
}
.Feature-box2 h3{
  text-align: center;
  padding-bottom: 2%;
}
.card-title {
    text-align: center;
    color: #024249;
}


#Color-Range, #features
{
  margin: auto;
}

.card-text {
    color: #8f8f8f;
}

.Feature-box {
text-align: center;
  padding: 2%;
}

.Feature-box2 {

  padding: 3%;
}


.Feature-box img{
  width: 100%;
}

.card{
  width: 80%;
  margin:auto;
}



.heading3{
  text-align: center;
  color: #024249;
  padding: 5%;
}





/* contacts */


.box3 {
  background-color:#dae1e7;


  color: #071F3B;
}
.box3 span, h6 {
  font-weight: 700;
  color:#071F3B;
}
.box3 img {
width: 100%;
border-radius: 30%;
padding: 3%;
}
.box3 h6{

  padding: 0 30% 3% 10%;
}
.copyright{
  text-align: center;
  background-color: #3b6978;
  color: #f8f9fa;
  padding: .5%;
  font-size: .75rem;
}
.part1, .part2{
  text-align: center;
}
.part1{
  padding: 2%;
}
.part2, .part3, .part4{
    padding: 3%;
}
.part3{
  padding-top: 7%;
  text-align: left;
  margin: auto;
}
  .part3 p {
  padding: 3%;
  }

.part4 {
  text-align: left;
  padding-left:10%;

}

.foot-icons hr{
  border: 5px;
  color: #8f8f8f;
  border-bottom: 0;
  border-style: dotted;
  width: 8%;
}
.foot-icons i {
  padding-left: 1%;
  padding-right: 1%;
}
